<!-- Page Content -->
<div class="content container-fluid">

  <div class="chat-box card-0">

    <div class="task-container">
      <h3>Edit Product</h3>
    </div>

    <div class="row col-md-12">

      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label>Product Name</label>
          <input type="text"  placeholder="Product Name" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label>Decription</label>
          <input type="text"  placeholder="Decription" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <label>Product Image</label>
          <input type="file"  placeholder="Product Image" class="form-control form-control-sm">
        </div>
      </div>

      <div class="row col-md-12 form-group">
        <div class="task-assign margin-right-10px">
          <a class="task-complete-btn task-completed float-right" href="javascript:void(0);">
            <i class="fa-solid fa-pen-to-square" style="color: #183153;margin-right: 5px;"></i>
            Edit
          </a>
        </div>
      </div>


    </div>
  </div>

</div>
