<!-- Page Content -->
<div class="content container-fluid">


  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">New Sale</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="chat-box card-0">

    <div class="row col-md-12">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label>Select Product</label>
          <select class="form-control show-tick form-control-sm" [(ngModel)]="saleProductTypeDetail" (change)="onChangeProduct($event)">
              <option *ngFor="let item of saleProductTypeDetails" [ngValue]="item">{{item.productName}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 pro">
        <div class="form-group" style="margin-bottom: 0px;">
          <label>Select Sale Type Product</label>
          <select class="form-control show-tick form-control-sm" [(ngModel)]="saleProductType" (change)="onChangeSaleProductType($event)">
            <option *ngFor="let item of saleProductTypes"  [selected]="item?.id == saleProductType?.id" [ngValue]="item">{{item?.saleProductType}}</option>
          </select>
        </div>
        <ul>
          <li>Qty : {{saleProductType.qty}}</li>
          <li>Price : {{saleProductType.price | amount}} $</li>
          <li>Total : {{saleProductType.total | amount}} $</li>
        </ul>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="form-group">
          <label>Qty</label>
          <input type="number" (input)="inputQty($event)" placeholder="0" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="form-group">
          <label>Discount</label>
          <input type="number" (input)="inputDisCound($event)" placeholder="0 %" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-2 col-sm-12">
        <div class="form-group">
          <label>Total</label>
          <input type="text" disabled [(ngModel)]="totalStr"  placeholder="22.00 $" class="form-control form-control-sm">
        </div>
      </div>

    </div>

    <div class="row form-group">

      <div class="row col-md-12 ">
        <div class="task-assign form-group">
          <a class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);" (click)="btnAdd()">
            <i class="fa-solid fa-square-plus" style="color: #183153;margin-right: 5px;"></i> Add
          </a>
        </div>
      </div>

      <div class="col-md-12" [ngStyle]="style">
        <div style="width: 100%;height: 500px;">
          <ag-grid-angular
          style="width: 100%; height: 100%;"
          class="ag-theme-alpine"
          [columnDefs]="columnDefs"
          [debounceVerticalScrollbar]="true"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData"
          [pagination]="pagination"
          [paginationPageSize]="paginationPageSize"
          (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
        </div>
      </div>

      <div class="row col-md-12" style="    float: right;display: block;">
        <div class="col-md-4" style="float: right; margin-top: 20px;">
          <div class="row">
            <div class="col-sm-12">
              <div>
                <h4 class="m-b-10"><strong>Total Payment</strong></h4>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td><strong>Total Amount</strong> <span class="float-right">$ {{paidAmount | amount}}</span></td>
                    </tr>
                    <tr>
                      <td><strong>Paid Amount</strong> <span class="float-right">$ {{paidAmount | amount}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-12">
              <input type="text"  placeholder="Remark" class="form-control form-control-sm">
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12 " style="margin-top: 15px;">
        <div class="task-assign form-group">
          <a class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);" (click)="btnToDo()">
            <i class="fa-solid fa-check" style="color: #183153;margin-right: 5px;"></i> To Do
          </a>
        </div>
      </div>

    </div>




  </div>

</div>




<!-- Add Modal -->
<div id="add_movie_type" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title">Customer Info</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item" (click)="isSelectCustomer(true)"><a class="nav-link active" href="#bottom-tab1" data-toggle="tab">Customer</a></li>
            <li class="nav-item" (click)="isSelectCustomer(false)"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Member</a></li>
          </ul>

          <div class="modal-body">

            <ng-container *ngIf="isCustomer === true">
                <!-- <form> -->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                          <label>Customer Name <span class="text-danger">*</span></label>
                          <input  class="form-control form-control-sm" type="text" placeholder="Enter customer name">

                          <!-- <div *ngIf="submitted && f.movieType.errors">
                              <small class="text-danger"> {{'movieType.message.subMovieTypeRequired' | translate}}</small>
                          </div> -->
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label>Phone <span class="text-danger">*</span></label>
                              <input class="form-control form-control-sm" type="text" placeholder="Enter phone">
                          </div>
                      </div>
                  </div>
                <!-- </form> -->
            </ng-container>

            <ng-container *ngIf="isCustomer === false">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label>Select Member <span class="text-danger">*</span></label>
                      <select class="form-control show-tick form-control-sm" [(ngModel)]="saleProductTypeDetail" (change)="onChangeProduct($event)">
                          <option *ngFor="let item of saleProductTypeDetails" [ngValue]="item">{{item.productName}}</option>
                      </select>

                      <!-- <div *ngIf="submitted && f.movieType.errors">
                          <small class="text-danger"> {{'movieType.message.subMovieTypeRequired' | translate}}</small>
                      </div> -->
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label>Delivery Address <span class="text-danger">*</span></label>
                    <input  class="form-control form-control-sm" type="text" placeholder="Enter delivery address">

                    <!-- <div *ngIf="submitted && f.movieType.errors">
                        <small class="text-danger"> {{'movieType.message.subMovieTypeRequired' | translate}}</small>
                    </div> -->
                </div>
              </div>
            </div>

            <div class="submit-section row">
              <div class="task-assign form-group">
                <a class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);" (click)="btnConfirm()">
                  <i class="fa-solid fa-check-double" style="color: #183153;margin-right: 5px;"></i> Confirm
                </a>
              </div>
            </div>

          </div>
      </div>
  </div>
</div>
<!-- /Add Modal -->
