<!-- Page Content -->
<div class="content container-fluid">


  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Sale Type Product</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Edit Sale Type Product</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="chat-box card-0">
    <div class="task-container">
      <h3></h3>
    </div>

    <div class="row col-md-12">
      <div class="col-md-12">

      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label>Select Product</label>
          <select class="form-control show-tick form-control-sm">
            <option >Select Product</option>
            <option >Product 1</option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label>Sale Type Proudct</label>
          <input type="text"  placeholder="Sale Type Proudct" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="form-group">
          <label>Qty</label>
          <input type="text"  placeholder="Qty" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="form-group">
          <label>Unit Price</label>
          <input type="text"  placeholder="Unit Price" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-2 col-sm-12">
        <div class="form-group">
          <label>Total</label>
          <input disabled type="text"  placeholder="0" class="form-control form-control-sm">
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <label>Remark</label>
          <input type="text"  placeholder="Remark" class="form-control form-control-sm">
        </div>
      </div>

      <div class="row col-md-12 " style="padding-right: 0px;">
        <div class="task-assign form-group" style="padding-right: 0px;">
          <a class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);">
            <i class="fa-solid fa-pen-to-square" style="color: #183153;margin-right: 5px;"></i> Edit
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
