<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">{{'users.label.user' | translate}}</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:">{{'users.label.user' | translate}}</a></li>
          <li class="breadcrumb-item active">{{'users.label.lstUser' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->


  <div class="row col-md-12">
    <ag-grid-angular
      #agGrid
      style="width: 100%; height: 500px;"
      id="myGrid"
      class="ag-theme-alpine"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)"
      (cellDoubleClicked)="onCellDoubleClicked($event)"
      (gridReady)="onGridReady($event)"
      [isRowSelectable]="isRowSelectable"
      [pagination]="pagination"
      [paginationPageSize]="paginationPageSize"
    ></ag-grid-angular>
  </div>
</div>
