<!-- Page Content -->
<div class="content container-fluid">


  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">New Sale</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="chat-box card-0">

    <div class="row col-md-12" style=" float: left;display: block;">

      <div class="col-md-4" style="float: left; margin-top: 20px;">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h4 class="m-b-10"><strong>Customer Info</strong></h4>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><strong>Customer Name :</strong> <span class="float-right">Ean Dalin</span></td>
                  </tr>
                  <tr>
                    <td><strong>Phone : </strong> <span class="float-right"> 096 65 55 879</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4" style="float: right; margin-top: 20px;">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h4 class="m-b-10"><strong>Total Payment</strong></h4>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><strong>Invioce ID</strong> <span class="float-right">000-000-001</span></td>
                  </tr>
                  <tr>
                    <td><strong>Total Amount</strong> <span class="float-right">$ {{paidAmount | amount}}</span></td>
                  </tr>
                  <tr>
                    <td><strong>Paid Amount</strong> <span class="float-right">$ {{paidAmount | amount}}</span></td>
                  </tr>

                  <tr>
                    <td><strong>Remark</strong> <span class="float-right">$ {{paidAmount | amount}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row form-group col-md-12">

      <div class="row col-md-12 " style="padding-right: 0px;">
        <div class="task-assign" style="padding-right: 0px;">
          <a class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);" (click)="btnAdd()" style="width: 160px;">
            <i class="fa-solid fa-file-pdf" style="color: #183153;margin-right: 5px;"></i> PDF Download
          </a>

          <a class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);" (click)="btnAdd()" style="margin-right: 15px;width: 150px;">
            <i class="fa-solid fa-angles-left" style="color: #183153;margin-right: 5px;"></i> Back To Sale
          </a>

        </div>

      </div>

      <div class="col-md-12">
          <ag-grid-angular
            #agGrid
            style="width: 100%; height: 500px;"
            class="ag-theme-alpine"
            [modules]="modules"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            (cellDoubleClicked)="onCellDoubleClicked($event)"
            (gridReady)="onGridReady($event)"
            [isRowSelectable]="isRowSelectable"
            [pagination]="pagination"
            [paginationPageSize]="paginationPageSize"
            [enableRangeSelection]="true"
            (cellValueChanged)="onCellValueChanged($event)"
          ></ag-grid-angular>
      </div>
    </div>




  </div>

</div>

