<!-- Page Content -->
<div class="content container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Employee Service Request</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item active">Add New Request</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Certicicate of Employee (COE)</h6>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Bank Statement</h6>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Payslip</h6>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Leave Permission Letter</h6>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Change Payroll Account</h6>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3" (click)="onClickOT()">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">OverTime(OT)</h6>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Car Booking</h6>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Stationary</h6>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Business Card</h6>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Access Card & Employee ID Card</h6>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">Club Card</h6>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="stats-info"  style="height: 95px;">
        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
        <h6 style="margin-top: 20px;">SIM Card</h6>
      </div>
    </div>

  </div>


</div>
