<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
              <h3 class="page-title">{{'users.label.user' | translate}}</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:">{{'users.label.user' | translate}}</a></li>
                  <li class="breadcrumb-item active">{{'users.label.lstUser' | translate}}</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->


  <div class="row col-md-12">
    <div style="margin: 10px 5px;">
      <button class="btn btn-sm btn-primary float-left" type="button" (click)="makePdf()">
        <i class="fa fa-plus-circle"></i>
        {{'video.label.addMovie' | translate}}
      </button>
      <!-- <button class="btn btn-sm btn-primary float-left left-12" type="button">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        {{'common.button.edit' | translate}}
      </button>
      <button class="btn btn-sm btn-primary float-left left-12" type="button">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        {{'common.button.delete' | translate}}
      </button> -->

      <div style="width: 300px;" class="float-right">
        <input type="text" class="form-control form-control-sm"  placeholder="{{'common.label.searchNameThere' | translate}} ...">
        <!-- <div class="dropdown-menu"  style="position: absolute; width: 300px;" [ngClass]="{'show': onFocusInt}">
          <a  href="javascript:" class="dropdown-item" *ngFor="let item of lstSearch" (click)="searchHistoryClick(item)">
            <i class="fa fa-history" aria-hidden="true"></i>
            <span style= "margin-left: 10px;">{{item?.search}}</span>
          </a>
        </div> -->
    </div>
      <label class="col-form-label float-right" style="width: 80px;">{{'common.label.search' | translate}} :</label>

    </div>

  </div>

  <div #content class="content">
    <p>
      Start editing to see some magic happen :)
    </p>
  </div>

  <div class="row col-md-12">
      <ag-grid-angular
          #agGrid
          style="width: 100%; height: 500px;"
          id="myGrid"
          class="ag-theme-alpine"
          [modules]="modules"
          [columnDefs]="columnDefs"
          [frameworkComponents]="frameworkComponents"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData"
          [rowSelection]="rowSelection"
          (selectionChanged)="onSelectionChanged($event)"
          (cellDoubleClicked)="onCellDoubleClicked($event)"
          (gridReady)="onGridReady($event)"
          [isRowSelectable]="isRowSelectable"
          [pagination]="pagination"
          [paginationPageSize]="paginationPageSize"
          ></ag-grid-angular>
  </div>
</div>
