<div class="account-content">

    <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
            <a href="javascript:"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">{{'login.label.login' | translate}}</h3>
                <p class="account-subtitle">{{'login.label.accessToOurSystem' | translate}}</p>

                <!-- Account Form -->
                <form #form="ngForm">

                  <div class="form-row row">
                    <div class="form-group col-md-12">
                      <label class="font-khmer-cursive">{{'login.label.userName' | translate}}</label>
                      <span class="text-danger">*</span>
                      <input type="text" id="userName" name="userName" #userName="ngModel" [(ngModel)]="credentails.userName" placeholder="Enter your first name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="userName.invalid && (userName.dirty || userName.touched)">

                      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="invalid-feedback">
                        <div *ngIf="userName.errors?.['required']">
                          This field is required.
                        </div>
                        <div *ngIf="userName.errors?.['minlength']">
                          This first name must have at least 1 character.
                        </div>

                      </div>

                    </div>
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-12">
                      <label class="font-khmer-cursive">{{'login.label.password' | translate}}</label>
                      <span class="text-danger">*</span>
                      <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="credentails.password" placeholder="Enter your first name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">

                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                        <div *ngIf="password.errors?.['required']">
                          This field is required.
                        </div>
                        <div *ngIf="password.errors?.['minlength']">
                          This first name must have at least 1 character.
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="row col-md-12 ">
                    <div class="task-assign form-group">

                      <a  (click)="btnLogin(form)" class="task-complete-btn task-completed float-right btn-save" href="javascript:void(0);" style="width: 100%;background: linear-gradient(to right, #f43b48 0%, #453a94 100%);">

                        <div class="square s24 h-auto d-flex-center gl-mr-3">
                          <div class="mr-widget-icon gl-display-inline-flex">
                            <div class="gl-spinner-container mr-loading-icon gl-display-inline-flex">
                              <span aria-label="Loading" class="align-text-bottom gl-spinner gl-spinner-dark gl-spinner-md"></span>
                            </div>
                          </div>
                        </div>

                        <!-- <ng-container *ngIf="isRequestLogin === true">
                          <div class="loadersmall" style="margin: 0 auto;width: 25px;height: 25px;"></div>
                        </ng-container>

                        <ng-container *ngIf="isRequestLogin === false">
                           <span>Login</span>
                          <i class="las la-sign-in-alt"></i>

                        </ng-container> -->

                      </a>
                    </div>
                  </div>
                </form>
                <!-- /Account Form -->

            </div>
        </div>
    </div>
  </div>
